<div *ngIf="group">

  <h1 class="title"> Groupe {{group.name}} </h1>

  <div class="card groupcard">

    <div class="card-header groupcardheader">

        <h2> Les membres </h2>

    </div>

      

    
      <div fxLayout="row wrap" fxLayoutAlign="space-evenly start">
          <div *ngFor="let member of group.members" style="padding: 30px">
              <div fxLayout="column">
                <div>
                    <img *ngIf="this.member.photoURL" [src]="this.member.photoURL" class=" largepp" />
                    <img *ngIf="!(this.member.photoURL)" src="../assets/img/avatar.png" class="largepp" />
                </div>
                <div style="font-size: 15px; margin-top: 10px">
                  {{this.member.first_name + ' ' + this.member.last_name}}
                </div>
                <span *ngIf="this.member.status=='admin'" class="badge badge-pill badge-dark" style="font-weight: normal; width:60px; margin-left:35px"><i class="small fas fa-star"></i><span class="buttonName"> admin</span></span>

              </div>
              
          </div>

      </div>
  

  </div>

  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

    <div fxFlex="33" class="card wpcard">

        <h2>Leurs missions</h2>


    </div>

      
    <div fxFlex="33" class="card wpcard">


        <h2>Leurs workpackages </h2>
    
        <div class="card-body wpcardbody">

          <li style="list-style: none" *ngFor="let wp of group.workpackages">
            <a [routerLink]="['/workpackage', wp._id]">{{wp.name}}</a>
          </li>

        </div>


    </div>

      
    <div fxFlex="33" class="card wpcard">

        <h2>Leurs tâches</h2>

        <div class="card-body wpcardbody">

    
                <li style="list-style: none" *ngFor="let task of group.tasks">
                  <a [routerLink]="['/tasks/details', task._id]">{{task.name}}</a>
                </li>
      

        </div>
    
        


    </div>


      
    



  </div>
  

  


</div>

