.mat-info {
    background-color: #6394e2;
    color: #fff;
  }
  
.mat-edit {
    background-color: #f7aa25;
    color: #fff
}
  
.mat-success {
    background-color: green;
    color: #fff;
}

.mat-back {
    background-color: white;
    color: #428aff;
    border: #428aff 3px solid;
}