

.descriptionOfTask{
  background : #f7f7f7;
  padding: 30px;
  border-radius: 5px;
}
.relatedWP{
  background : #f7f7f7;
  padding: 30px;
  border-radius: 5px;
  text-align : center;
}
.relatedTasks{
  background : #f7f7f7;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}
.chat{
  background : #f7f7f7;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}
.card-title {text-align: center}
.card-text {
  text-align: justify;
  word-break: break-all;
  max-width: 80%;
  padding : 0.001%;
}
.li{
  width : 90%;
  word-break : break-all;
}
.bouton{padding : 8%;
text-align: center;}
.interligne{padding : 2%;}

  .card {
    max-width: 100%;
}
