

.listOfTasks  {
      background: #f7f7f7;
    padding : 5%;
      border-radius: 5px;
  }


.descriptionOfTask{
  background : #f7f7f7;
  padding: 30px;
  border-radius: 5px;
}
.relatedWP{
  background : #f7f7f7;
  padding: 30px;
  border-radius: 5px;
  text-align : center;
}
.relatedTasks{
  background : #f7f7f7;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}
.chat{
  background : #f7f7f7;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}
.title {text-align: center}
.enumeration {
  text-align: justify;
  word-break: break-all;
}
.bouton{padding : 8%;
text-align: center;}
.interligne{padding : 2%;}
.enumeration {
  word-break: break-all;}