@font-face {
    font-family: 'Parisine';
    src: url('Parisine-Regular.woff2') format('woff2'),
        url('Parisine-Regular.woff') format('woff'),
        url('Parisine-Regular.ttf') format('truetype'),
        url('Parisine-Regular.svg#Parisine-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

