.wpcard {

    border-top: 4px solid #082656;
    padding: 5px;
    border-radius: 0px;
    margin:10px;
    font-family: 'Helvetica 87 Heavy Condensed','Parisine', sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-align: center;

}

.title {

    font-family: 'Helvetica 87 Heavy Condensed','Parisine', sans-serif;
    font-weight: normal;
    margin-left:5px;

}

.wpcardbody {

    font-family: 'Parisine', sans-serif;
    font-weight: normal;
    font-size: 14px;

}

.chatcard {

    height: 400px;
    background-color: #f4f5f7;
    border-radius:5px;

}

.chatcardbody {

    font-family: 'Parisine', sans-serif;
    font-size: 11px;

}
