<div *ngIf="!loader">
  <button class="mb-2" mat-raised-button color="success" routerLink="/tasks"><i class="fas fa-chevron-left"></i> Retour
    aux tâches</button>

  <div class="row">

    <div *ngIf="selectedTask" class="col-lg-7 col-sm-12">

      <div class="card">
        <div class="card-header taskName">{{ selectedTask.name }}</div>
        <div class="card-text">
          <div class="description">
            {{selectedTask.description}}
            <div class="author">Tâche créée par {{ selectedTask.author.first_name + ' ' + selectedTask.author.last_name
              }} </div>
          </div>
          <div>
              <div class="row">
                  <div class="col-12 col-md-6">
                    <div><i class="fas fa-clock ml-4"></i> Début : <span class="date">{{ selectedTask.startingDate |
                        date:'dd/MM/yyyy' }}</span></div>
                    <div><i class="fas fa-clock ml-4"></i> Fin : <span class="date">{{ selectedTask.endingDate |
                        date:'dd/MM/yyyy'
                        }}</span></div>
                    <br>
                  </div>
    
                  <div class="col-12 col-md-6"><i class="fas fa-thumbtack"></i> Statut : 
                    <span [ngClass]="{'redStatus' : getStatus()==='En attente',
                                      'orangeStatus' : getStatus()==='En cours',
                                      'greenStatus' : getStatus()==='Terminée'
                                    }" [ngStyle]="{ 'fontWeight' : 'bold' }">{{
                      getStatus() }}</span>
    
                  </div>
                </div>
    
          </div>

          <div>

            <div *ngIf="openSelect" class="ml-4 mr-4">
              <mat-form-field>
                <mat-select [(value)]="selectedTask.status">
                  <mat-option color="red" value="pending">En attente</mat-option>
                  <mat-option color="orange" value="ongoing">En cours</mat-option>
                  <mat-option color="green" value="done">Terminée</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="row">
                <div class="col-6">
                  <button mat-raised-button class="buttonStyle" color="success" (click)="onSelectStatus()"> Enregistrer
                  </button>
                  <div *ngIf="loader" class="loader"></div>
                </div>
                <div class="col-6">
                  <button mat-raised-button class="buttonStyle" color="warn" (click)="onCancelStatus()"> Annuler
                  </button>
                </div>
              </div>
            </div>

            <div class="row ml-2 mr-2">
              <div class="col-md-6 col-12">
                <button class="buttonStyle" *ngIf="!openSelect" mat-raised-button color="primary" (click)="onClickOpenSelect()"><i class="fas fa-ellipsis-v"></i>  Modifier
                  le
                  statut</button>
              </div>
              <div class="col-md-6 col-12">
                <button class="buttonStyle" [routerLink]="'/tasks/edit-task/'+selectedTask._id" *ngIf="isAuthor()&&!openSelect" mat-raised-button color="success"><i class="fas fa-edit"></i> Modifier
                  la tâche</button>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="card">
        <div class="card-header"> Chat</div>
        <div class=card-text></div>
      </div>

    </div>

    <div *ngIf="selectedTask" class="col-lg-5 col-sm-12">

      <div class="card">
        <div class="card-header"> Groupes reliés </div>
        <ul class="list-group list-group-flush">
          <li *ngFor="let group of selectedTask.groups" class="list-group-item list-group-item-action">{{ group.name }}</li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header"> WP reliés </div>
        <div class=card-text></div>
      </div>

      <div class="card">
        <div class="card-header">Tâches reliées</div>
        <div class=card-text></div>
      </div>


    </div>

  </div>
</div>

<div *ngIf="loader" fxLayoutAlign="space-around center" style="overflow:hidden">
  <div class="loader">
  </div>
</div>