<div class="card text-center p-1">
    <br>
    <h1><i class="fas fa-exclamation-triangle"></i> Votre compte n'est pas activé</h1>
    <br>
    <p>Oups, il semblerait que votre compte ne soit pas activé. Votre compte est en train d'être examiné par un administrateur...</p>
    <p>Pour toute question, contacter un <a [href]="'mailto:arie.selinger@gmail.com
      ?subject=[CS3] [Activation] Compte de '+payload.first_name+' '+payload.last_name+'&body=Merci de bien vouloir activer le compte : '+payload.email">administrateur</a></p>
</div>