<div class="card wpcard" style="text-align: center">
                  
  <h3>Tâches reliées</h3>
  <div class="card-body wpcardbody">

    <div style="border-bottom:2px solid grey; padding: 5px">
          <ul class="fa-ul" style="margin-left: 0">
              <li><i class=" fa-li fas fa-plus-square"></i><a routerLink='/tasks/create-task'>Créer une tâche</a></li>
              <li><i class=" fa-li fas fa-file-medical"></i><a style="cursor: pointer ; color:#007bff" (click)="openDialog(task._id)">Ajouter une tâche...</a></li>
          </ul>
          
    </div>

    <li *ngFor="let linked_task of task.tasks" style="list-style-type: none">
        <i class="fas fa-ban" style="color:red; cursor:pointer" (click)="delete(linked_task._id, task._id)" ></i>{{linked_task.name}}
    </li>
      
  </div>

</div>