<br />

<div *ngIf = "this.ready">
        <button mat-raised-button [color]="'success'" (click)="toggleAddForm()">
        <div *ngIf="!this.showAddForm">Ajouter un workpackage</div>
        <div *ngIf="this.showAddForm">Fermer</div>

        </button>

        <div *ngIf="this.showAddForm"><app-add-workpackages-form (onSubmitted)="onSubmitted($event)"></app-add-workpackages-form></div>


        <div *ngIf="this.showTable">

        <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrez...">
        </mat-form-field>

        <div class="mat-elevation-z8">


                        <table mat-table [dataSource]="dataSource">


                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef fxFlex="20%"> Name </th>
                                        <td mat-cell *matCellDef="let element" fxFlex="20%"> {{element.name}} </td>
                                </ng-container>
                        
                        
                                <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef fxFlex="15%"> Statut </th>
                                        <td mat-cell *matCellDef="let element" fxFlex="15%"> {{element.status}} </td>
                                </ng-container>

                                <ng-container matColumnDef="groups">
                                <th mat-header-cell *matHeaderCellDef fxFlex="25%"> Groupes participants </th>
                                <td mat-cell *matCellDef="let element" fxFlex="25%"> 
                                <div *ngFor="let group of element.groups">
                                {{group.name + ' | '}}
                                </div> </td>
                                </ng-container>

                
                        
                        
                                <ng-container matColumnDef="actions">
                                                <th mat-header-cell *matHeaderCellDef fxFlex="40%"> Actions </th>
                                                <td mat-cell *matCellDef="let element" fxFlex="40%"> 

                                                        <button style="width:120px" mat-raised-button color="primary"> Editer </button>

                                                        <button  *ngIf="element.status == 'inactive' || element.status == 'readonly'" style="width:120px; margin-left:5px" mat-raised-button [color]="'success'" (click)="activate(element._id)">Activer</button>
                                        
                                                        <button *ngIf="element.status == 'active' || element.status == 'readonly'" style="width:120px; margin-left:5px" mat-raised-button color="warn" (click)="deactivate(element._id)">Désactiver</button>
                        
                                                        <button  *ngIf="element.status == 'inactive' || element.status == 'active'" style="margin-left:5px; width:120px" mat-raised-button [color]="'edit'" (click)="readonly(element._id)">Lecture seule</button>

                                                </td>
                                </ng-container>
                                        
                        
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>
                                
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>



        </div>
        <br/>

        <div *ngIf="msg">
                <div class="alert alert-success" role="alert">
                        {{msg}}
                </div>
        </div>

        <div *ngIf="error">
                <div class="alert alert-danger" role="alert">
                        {{error}}
                </div>
        </div>

        </div>
</div>
<div *ngIf="!this.ready" fxLayoutAlign="space-around center" style="overflow:hidden">
    <div class="loader">
    </div> 
</div>