  <!-- Liste de tâches -->

  <div class="row">
 
    <div class="col-12 col-lg-2">
  </div>

  <div class="col-12 col-lg-8">
    <div class="card">
      <div class="card-header">Ma liste de tâches</div>
      <div class="card-text">

        <ol *ngIf="!loader">
          <li *ngFor="let task of tasks">
            <button mat-button class="buttonTask" [routerLink]=" '/tasks/details/' + task._id">

              {{task.name}} 

              <i *ngIf="isAuthor(task)" class="ml-1 fas fa-pencil-alt"></i>

              <span class="small" [ngStyle] = "{
              'color' : task.status == 'pending' ? 'red' : task.status == 'ongoing' ? 'black' : 'green',
              'fontWeight' : 'bold',
              'marginLeft' : '5px',
              'fontStyle' : 'italic'
            }">{{ getStatus(task) }}
          </span>

        
        </button>
          </li>
        </ol>

        <div *ngIf="loader" >
          <div fxLayoutAlign="space-around center" style="overflow:hidden">
            <div class="loader">
            </div>
          </div> 
          <br>
        <div class="text-center">Chargement des données...</div></div>

        <hr>
        <p><i class="fas fa-pencil-alt"></i> = je suis créateur de la tâche</p>
      


        <div *ngIf="!loader" class="row bouton">
          <div class="col-12 col-4-sm"></div>
          <button mat-raised-button routerLink="/tasks/create-task" color="success" class="col-12 col-4-sm">Créer une nouvelle tâche</button>
        </div> 
      </div>

    </div>
  </div>

  </div>

