  <!-- Liste de tâches -->

  <div class="row">
 
    <div class="col-12 col-lg-1">
  </div>

  <div class="col-12 col-lg-10">
    <div class="card wpcard">
      <div class="card-header">Ma liste de tâches</div>
      <div class="card-text">

        <ng-container *ngIf="!loader">

        <div class="title" style="text-align: left">Tâches en cours</div>

          <mat-form-field>
                <input matInput (keyup)="applyFilterActive($event.target.value)" placeholder="Filtrez...">
        </mat-form-field>


        <div class="mat-elevation-z8" style="max-height:500px; overflow:auto;">


          <table mat-table matSort [dataSource]="dataSource_active">


                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
                          <td mat-cell style="border-bottom: none" *matCellDef="let element"> {{element.name}}  <i *ngIf="isAuthor(element)" class="ml-1 fas fa-pencil-alt"></i> </td>
                  </ng-container>
          
          
                  <ng-container matColumnDef="endingDate">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date limite</th>
                          <td mat-cell style="border-bottom: none" *matCellDef="let element">{{date(element.endingDate)}}</td>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut</th>
                    <td mat-cell style="border-bottom: none; margin-right: 0px" *matCellDef="let element"><span class="small" [ngStyle] = "{
                      'color' : element.status == 'pending' ? 'red' : element.status == 'ongoing' ? 'rgb(255, 81, 0)' : 'green',
                      'fontFamily': 'Helvetica',
                      'fontWeight' : 'bold',
                      'marginLeft' : '5px',
                      'fontStyle' : 'italic'
                    }"> {{getStatus(element.status)}} </span> </td>
                  </ng-container>

                          
          
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigate(row)" style="font-family:'Helvetica 87 Heavy Condensed','Parisine', sans-serif; cursor: pointer;"></tr>

          </table>
          



        </div>

        <br />
        <br />

        <div class="title" style="text-align: left">Tâches terminées</div>

          <mat-form-field>
                <input matInput (keyup)="applyFilterFinished($event.target.value)" placeholder="Filtrez...">
        </mat-form-field>


        <div class="mat-elevation-z8" style="max-height:500px; overflow:auto;">


          <table mat-table matSort [dataSource]="dataSource_finished">


                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
                          <td mat-cell style="border-bottom: none" *matCellDef="let element"> <i *ngIf="isAuthor(element)" class="ml-1 fas fa-pencil-alt"></i> {{element.name}} </td>
                  </ng-container>
          
          
                  <ng-container matColumnDef="endingDate">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date limite</th>
                          <td mat-cell style="border-bottom: none" *matCellDef="let element">{{date(element.endingDate)}}</td>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut</th>
                    <td mat-cell style="border-bottom: none; margin-right: 0px" *matCellDef="let element"><span class="small" [ngStyle] = "{
                      'color' : element.status == 'pending' ? 'red' : element.status == 'ongoing' ? 'rgb(255, 81, 0)' : 'green',
                      'fontFamily': 'Helvetica',
                      'fontWeight' : 'bold',
                      'marginLeft' : '5px',
                      'fontStyle' : 'italic'
                    }"> {{getStatus(element.status)}} </span> </td>
                  </ng-container>

                          
          
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigate(row)"  style="font-family:'Helvetica 87 Heavy Condensed','Parisine', sans-serif; cursor: pointer;"></tr>

          </table>
          



        </div>

          <!--
          <li *ngFor="let task of tasks_active">

            <ng-container *ngIf="task.status !='done'">

                <button mat-button class="buttonTask" [routerLink]=" '/tasks/details/' + task._id">

                  {{task.name}} 
    
                  <i *ngIf="isAuthor(task)" class="ml-1 fas fa-pencil-alt"></i>
    
                  <span class="small" [ngStyle] = "{
                  'color' : task.status == 'pending' ? 'red' : task.status == 'ongoing' ? 'rgb(255, 81, 0)' : 'green',
                  'fontWeight' : 'bold',
                  'marginLeft' : '5px',
                  'fontStyle' : 'italic'
                }">{{ getStatus(task) }}
              </span>
    
            
            </button>


            </ng-container>
            
          </li>
          -->
        </ng-container>

        <div *ngIf="loader" >
          <div fxLayoutAlign="space-around center" style="overflow:hidden">
            <div class="loader">
            </div>
          </div> 
          <br>
        <div class="text-center">Chargement des données...</div></div>

        <hr>
        <p><i class="fas fa-pencil-alt"></i> = je suis créateur de la tâche</p>
      


        <div *ngIf="!loader" class="row bouton">
          <div class="col-12 col-4-sm"></div>
          <button mat-raised-button routerLink="/tasks/create-task" color="success" class="col-12 col-4-sm">Créer une nouvelle tâche</button>
        </div> 
      </div>

    </div>
  </div>

  </div>

