a{

    text-decoration: none;

}


.navbar{
    background-color: white;
    box-shadow: 1px -2px 5px black;
    font-weight: lighter;
}

.nav-link{
    color : rgb(118,128,137)
}

.nav-link.link{
    width: 100%;
}

.menu{
    color: grey
}
.menu:hover{
    color : rgb(209, 209, 209);
    cursor: pointer;
}


// .nav-link:hover{
//     color: rgb(100, 100, 255);
// }

.sidenav{
    width : 200px;
    padding-top : 20px;
    margin-top : 50px;
    padding-left : 10px;
    padding-right : 10px;
    height: 100%;
    position : fixed;
}

.sidenavissue{
    position: relative;
    bottom : 300px;
}

.menuButton{
    padding : 5px 20px 5px 0px;
    border-right: rgb(202, 202, 202) solid 1px;
}

.bold{
    font-weight: 500;
}

.buttonName{
    display : none;
}

.badge{
    padding: 5px;
    padding-bottom: 6px;
    margin-right: 3px;
}

@media (min-width: 768px) {
    .buttonName{
        display: inline;
    }
}
