<nav *ngIf="auth.isLoggedIn()" class="navbar navbar-expand fixed-top">

  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link link" (click)="toogleSidenav()"><i class="fas fa-bars menu menuButton"></i></a></li>
    <li class="nav-item"><a class="nav-link link menu" (click)="sidenavOpened=false" routerLink="/dashboard"><i class="fas fa-tachometer-alt"></i><span class="buttonName"> Dashboard</span></a></li>
    <li class="nav-item"><a class="nav-link link menu" (click)="sidenavOpened=false" routerLink="/groups"><i class="fas fa-users"></i><span class="buttonName"> Groupes</span></a></li>
    <li class="nav-item"><a class="nav-link link menu" (click)="sidenavOpened=false" routerLink="/admin"><i class="fas fa-wrench"></i><span class="buttonName"> Administrateur</span></a></li>
  </ul>

  <ul class="navbar-nav ml-auto small">
    <li class="nav-item">
      <div class="nav-link active bold">{{ auth.getPayload().first_name }} {{
        auth.getPayload().last_name }}
      </div>
    </li>
    <li class="nav-item"><a class="nav-link link menu" routerLink="/login" (click)="logout()"><i class="fas fa-sign-out-alt"></i><span class="buttonName small"> Se déconnecter</span></a></li>
  </ul>

  
</nav>

<mat-sidenav-container class="full" [ngClass]="{ login : !auth.isLoggedIn()}">

  <mat-sidenav class="sidenav" [opened]="sidenavOpened" mode="over">
    <button class="sidenavissue"></button>
    <button type="button" class="close" (click)="toogleSidenav()">
      <span [ngStyle]="{ fontSize : '80%' }">&times;</span>
    </button>
    <br>
    <ul class="navbar-nav">
      <li class="nav-item"><a mat-button routerLink="/missions" (click)="toogleSidenav()" class="nav-link link">Mes Missions</a></li>
      <li class="nav-item"><a mat-button routerLink="/workpackages" (click)="toogleSidenav()" class="nav-link link">Mes Work Packages</a></li>
      <li class="nav-item"><a mat-button routerLink="/tasks" (click)="toogleSidenav()" class="nav-link link">Mes tâches</a></li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content class="container" [ngStyle]="{ marginTop : '80px'}">
    <div class="row">
      <div class="col-lg-0 col-12"></div>
      <div class="col-lg-12 col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>