




<div class="card groupcard">

  <div class="card-header groupcardheader"><h2>Mes workpackages</h2></div>

  <div class="card-body wpcardbody">

      <div *ngIf="this.ready">


          <li style="list-style: none" *ngFor="let wp of this.mywp"><a [routerLink]="['/workpackage', wp._id]">{{ wp.name }}</a></li>

                  
      </div>
      
      <div *ngIf="!this.ready" fxLayoutAlign="space-around center" style="overflow:hidden">
          <div class="loader">
          </div> 
      </div>

  </div>







</div>



  


