

@import "../layouts/buttons.scss";

.title {

  font-family: 'Helvetica 87 Heavy Condensed','Parisine', sans-serif;
  font-weight: normal;
  margin-left:5px;
  text-align: center;
  color: #961a3d

}

table {
    width: 100%;
    table-layout: fixed;
  }

.groupbutton {

  margin-left:5px;
  margin-bottom: 4px;
  width:100px;

}
