<div class="col-12">


    <div class="col-12">

        <div>
            <label for="fileUpload"></label>
            <div *ngIf="status!= 'readonly'">
                <input type="file" name="fileUplaod" id="fileUpload"
                        multiple ng2FileSelect [uploader]="uploader">
            </div>
            <div *ngIf="status== 'readonly'">
                Ce workpackage est en lecture seule, ou cette tâche est terminée. Vous ne pouvez y ajouter d'autres fichiers.
            </div>
            
        </div>

        <div>
            <div class="row mt-3" *ngFor="let item of uploader.queue; let i = index">
                <div class="col-12">{{item.file.name}}
                    <button *ngIf="!item.isSuccess" [disabled]="item.isReady || item.isUploading" mat-icon-button color="primary" (click)="openDialog(item)"> <i class="fas fa-marker"></i></button>
                </div> 
                <div *ngIf="item.isSuccess"></div>
                <div class="col-12">
                    <div class="progress" style="height:20px">
                        <div class="progress-bar bg-primary" [ngStyle]="{'width':item.progress+'%'}"></div>
                    </div>
                </div>
                <div class="col-12">
                    <button *ngIf="!item.isSuccess" type="button" class="btn btn-success" [disabled]="item.isReady || item.isUploading" (click)="item.upload()">Envoyer</button>
                    <button *ngIf="item.isSuccess" disabled class="btn btn-success">Envoyé</button>
                    <button *ngIf="!item.isSuccess" type="button" class="btn btn-danger" [disabled]="item.isUploading"  (click)="item.remove()">Annuler</button>
                </div>
            </div>

        </div>

    </div>
    <br>
</div>
