<div class="card row">

    <div class="card-header">
        <h4 class="text-center">Upload files</h4>
    </div>

    <div class="card-body">

        <div>
            <input type="file" name="fileUpload" id="fileUpload">
        </div>

        <div>
            <div class="row mt-3">
                <div class="col-sm-4">Nom du fichier</div>
                <div class="col-sm-4">
                    <div class="progress" style="height:20px">
                        <div class="progress-bar bg-primary" style="width:20%;height:20px"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-success">Envoyer</button>
                    <button type="button" class="btn btn-danger">Annuler</button>
                </div>
            </div>

            <div>
                <button type="button" class="btn btn-success">Tout envoyer</button>
            </div>
        </div>

    </div>
</div>

<embed src="http://cs3.cs-campus.fr:3000/api/tasks/file/5c312857521c5f1b67aaa6e6" width= "350" height= "500">
<embed src="http://cs3.cs-campus.fr:3000/api/tasks/file/5c312a79521c5f1b67aaa6e7" width= "350" height= "500">
<embed src="http://cs3.cs-campus.fr:3000/api/tasks/file/5c312857521c5f1b67aaa6e6" width= "350" height= "500">