<div class="card row">

    <div class="card-header">
        <h4 class="text-center">Upload files</h4>
    </div>

    <div class="card-body">

        <div>
            <input type="file" name="fileUplaod" id="fileUpload"
                        multiple ng2FileSelect [uploader]="uploader">
        </div>

        <div>
            <div class="row mt-3" *ngFor="let item of uploader.queue">
                <div class="col-sm-4">{{item.file.name}}</div>
                <div *ngIf="item.isSuccess"></div>
                <div class="col-sm-4">
                    <div class="progress" style="height:20px">
                        <div class="progress-bar bg-primary" [ngStyle]="{'width':item.progress+'%'}"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <button *ngIf="!item.isSuccess" type="button" class="btn btn-success" [disabled]="item.isReady || item.isUploading" (click)="item.upload()">Envoyer</button>
                    <button *ngIf="item.isSuccess" disabled class="btn btn-success">Envoyé</button>
                    <button *ngIf="!item.isSuccess" type="button" class="btn btn-danger" [disabled]="item.isUploading"  (click)="item.remove()">Annuler</button>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- <embed src="http://cs3.cs-campus.fr:3000/api/tasks/file/5c313018bf39991d5e5f8c9b" width= "350" height= "500"> -->