<div *ngIf = "modified_profile">
  <div class="alert alert-success">Votre profil a été bien modifié!</div>
</div>

<div *ngIf = "error">
  <div class="alert alert-danger">Erreur lors de la modification du profil.</div>
</div>

<h2> Mon profil </h2>


<br />

<h2 style="text-align: center"><img src="{{user.photoURL}}" class="largepp"/>{{user.first_name + ' ' + user.last_name }}</h2>

<div *ngIf="avatar">
  <img [src]="avatar" class="img-fluid img-thumbnail mx-auto d-block">
</div>

<form class="card-body" [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label><strong>Votre photo de profil</strong></label>
    <br />
    <input type="file" (change)="onPPChange($event)" id="profilepicture" name="profilepicture"  #fileInput />
    <ng-container *ngIf="preview">
        <img [src]="preview" class="profilepicture" />
    </ng-container>
    
  </div>

  <button mat-raised-button [color]="'info'" type="submit" value="submit" >Modifiez votre profil</button>