<div *ngIf = "modified_profile">
  <div class="alert alert-success">Votre profil a été bien modifié!</div>
</div>

<div *ngIf = "error">
  <div class="alert alert-danger">Erreur lors de la modification du profil.</div>
</div>

<h1> Mon profil </h1>


<br />

<h2 style="text-align: center"><img src="{{user.photoURL}}" class="largepp"/>{{user.first_name + ' ' + user.last_name }}</h2>

<form [formGroup]="form" (ngSubmit)="onPPSubmit()">

  <div class="form-group">
    <label><strong>Votre photo de profil</strong></label>
    <br />
    <input type="file" (change)="onPPChange($event)" id="profilepicture" name="profilepicture"  #fileInput />
    <ng-container *ngIf="preview">
        <img [src]="preview" class="profilepicture" />
    </ng-container>
    
  </div>

  <button mat-raised-button [color]="'info'" type="submit" value="submit" >Modifiez votre photo</button>

</form>

<br />
<br />


<form [formGroup]="f2" (ngSubmit)="onPasswordSubmit()">

    <div class="form-group">
      <label><strong>Changez votre mot de passe</strong></label>
      <br />
      <div class="form-group">
          <input type="password" class="form-control" placeholder="Mot de passe" formControlName="password" (keyup)="onChange()">
          <small [ngStyle]="{color:'red', fontSize:'70%'}" *ngIf="(f2.controls.password.status!='VALID')&&(f2.controls.password.value!='')">Le
              mot de passe doit avoir plus de 8 caractères</small>

      </div>
      <div class="form-group">
          <input type="password" class="form-control" placeholder="Confirmation du mot de passe" formControlName="password2">
          <small [ngStyle]="{color:'red', fontSize:'70%'}" *ngIf="(f2.controls.password2.value!='')&&(f2.controls.password.value!='')&&(f2.value.password!=f2.value.password2)">Les
              mots de passe ne sont pas identiques</small>
      </div>
      
      
    </div>
  
    <button mat-raised-button [color]="'info'" type="submit" value="submit" [disabled]="(f2.invalid)||(f2.value.password!=f2.value.password2)" >Modifiez votre mot de passe</button>
  
</form>

<br />
<br />

<form (ngSumit)="onFavSubmit()">

  <div class="form-group">
    <label><strong>Modifiez votre liste de favoris</strong></label>
  </div>

  <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" [ngStyle]="{height:'calc(2.25rem + 2px)'}"><i class="fa fa-search"></i></span>
      </div>

        <div id="myDropdown" class="dropdown-content">
          <input type="search" class="form-control" (keyup)="onSearch()" placeholder="Rechercher..."
          [(ngModel)]="recherche" [ngModelOptions]="{standalone: true}">
          <div *ngFor="let element of element_searched ">
            <a class="pointer" (click)="addElement(element)">{{element.name}}</a>
          </div>
        </div>
  </div>

</form>


