<div class="jumbotron text-center">
  <h3>
    Bienvenue sur l'outil de gestion des projets du CS<sup>3</sup>
  </h3>
  <br>

  <button class="moduleBtn col-md-3 col-12" routerLink="/missions" mat-raised-button color="primary">Missions</button>
  <button class="moduleBtn col-md-3 col-12" routerLink="/work-packages" mat-raised-button color="primary">Work Packages</button>
  <button class="moduleBtn col-md-3 col-12" routerLink="/tasks" mat-raised-button color="primary">Tâches</button>

</div>


<div *ngIf="ready">

    <div class="card">
        <div class="card-header">
          <i class="fas fa-bullhorn"></i> Annonces
        </div>
        <div class="card-body">
      
        <ng-container *ngIf="announce">
      
            <h1>{{announce.title}}</h1>
      
            <p>
              {{announce.content}}
            </p>

            <span style="font-style: italic">
              Publié par {{announce.author[0].first_name + ' ' + announce.author[0].last_name}}, le {{date(announce.date)}}.
            </span>
      
        </ng-container>
      
        <ng-container *ngIf="!announce">
      
            Pas d'annonce actuellement!
      
        </ng-container>
          
        </div>
      </div>
      
      
      <br />
      
      <div class="row">
      
        <div class="col-sm-12 col-md-6">
      
          <div class="card">
            <div class="card-header">
                <i class="fas fa-file"></i> Les derniers compte-rendus
            </div>
            <div class="card-body">
              Vous n'avez entré aucun compte-rendu.
            </div>
          </div>
          <br>
        </div>
      

        <div class="col-sm-12 col-md-6">
      
          <div class="card">
            <div class="card-header">
                <i class="fas fa-star"></i> Accès rapide
            </div>
      
            <div class="card-body">
              <div *ngIf="favWorkPackages.length + favTasks.length == 0">Pour ajouter des favoris, rendez-vous dans votre profil.</div>
              <ng-container *ngIf="(favWorkPackages.length + favTasks.length != 0)">

                  <div style="font-style:italic"><span class="badge badge-pill badge-dark">Workpackages</span></div>

                  <ul>
                    <div *ngFor="let element of favWorkPackages">
                      <div>
                          <li style="list-style: none"><a [routerLink]="['/workpackage', element._id]">{{element.name}}</a></li>
                      </div>
                    </div>
                  </ul>
                  <div style="font-style:italic"><span class="badge badge-pill badge-dark">Tâches</span></div>

                  <ul>
                    <div *ngFor="let element of favTasks">
                      <div>
                          <li style="list-style: none"><a [routerLink]="['/tasks/details', element._id]">{{element.name}}</a></li>
                      </div>
                    </div> 
                  </ul>

                
              </ng-container>
              
            </div>
      
            
          </div>
      
        </div>
      
      </div>

      <br>
</div>

<div *ngIf="!ready" fxLayoutAlign="space-around center" style="overflow:hidden">
    <div class="loader">
    </div> 
</div>

