<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">

    <div *ngFor="let group of groups">
        <div class="card" style="margin-bottom:10px" >
            <div class="card-header">
                <a [routerLink]="['/group',group._id]">{{group.name}}</a>
            </div>
            <div class="card-body" style="height:200px ; overflow-y:scroll"> 
              <ul *ngFor="let user of group.members">
                <li>{{user.first_name + ' '+ user.last_name}}</li>
              </ul>
            </div>
        </div>
    </div>

</div>

