<!-- <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">

    <div *ngFor="let group of groups">
        <div class="card" style="margin-bottom:10px" >
            <div class="card-header">
                <a [routerLink]="['/group',group._id]">{{group.name}}</a>
            </div>
            <div class="card-body" style="height:200px ; overflow-y:scroll"> 
              <ul *ngFor="let user of group.members">
                <li>{{user.first_name + ' '+ user.last_name}}</li>
              </ul>
            </div>
        </div>
    </div>

</div> -->

<h1 class="title"> Les groupes </h1>

  <div class=" groupcard">


    <div fxLayout="row wrap" fxLayoutAlign="space-evenly start">
        <div *ngFor="let group of groups" style="padding: 30px">
            <div fxLayout="column" style="padding: 5px; padding-bottom: 20px; height: 300px; width: 250px" class="wpcard">
              <div>
                  <h4 [routerLink]="['/group',group._id]" class="link card-header groupcardheader">{{ group.name }}</h4>
              </div>
              <div class="wpcardbody">
              <div *ngFor="let member of group.members" style="font-size: 15px; margin-left : 25px ;margin-top: 20px">
                <div fxLayout="row" fxLayoutAlign="start center"> 
                    <div style="margin-right: 10px">
                        <img *ngIf="this.member.photoURL" [src]="this.member.photoURL" class="smallpp" />
                        <img *ngIf="!(this.member.photoURL)" src="../assets/img/avatar.png" class="smallpp" />
                    </div>
                    <div style="font-size: 15px">
                      {{ this.member.first_name + ' ' + this.member.last_name }}
                    </div>
    
                  </div>
              </div>
            </div>
            </div>
            
        </div>

    </div>

    </div>