<form class="card-body" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label><strong>Nouveau fichier</strong></label>
      <br />
      <input type="file" (change)="onFileChange($event)" id="file" name="file"  #fileInput />
      
    </div>
  
    <button mat-raised-button [disabled]="fileSent" [color]="'info'" type="submit" value="submit" >
      <span *ngIf="!fileSent">Ajouter un fichier</span>
      <span *ngIf="fileSent">Fichier en cours d'envoi....</span>
    </button>
    <ng-container *ngIf="!msg" class="green">{{msg}}</ng-container>
    <ng-container *ngIf="error" class="red">{{error}}</ng-container>

    <ul>
      <li *ngFor="let file of workpackage.files; let i = index">
        <a [href]="file">Fichier {{i+1}} : {{file}}</a>
      </li>
    </ul>